.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
  z-index: 1001;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/closebutton.png);
  width: 20px;
  height: 20px;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 24px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal__legend {
  margin: 0 0 12px;
}

.modal__label_type_radio {
  margin: 0 0 8px;
  color: #00000080;
}

.modal__container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit {
  padding: 0;
  margin: 0;
  width: 65px;
  height: 36px;
  border: none;
  border-radius: 4px;
  gap: 8px;
  color: #ffffff;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  background-color: #000000;
}

.modal__submit:hover {
  background-color: #000000;
  opacity: 60%;
  cursor: pointer;
}

.modal__label_type_radio:has(.modal__radio-input:checked) {
  color: #000000;
}

.modal__redirect {
  margin: 0;
  text-align: center;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.modal__redirect-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.modal__redirect-link:hover {
  opacity: 0.6;
}
