.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 1;
}

.card__name {
  margin: 0;
  background: #ffffff;
  border-radius: 4px;
  width: 100%;
  min-width: 73px;
  height: 24px;
  text-align: center;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
}

.card__like-btn {
  background: transparent;
  border: none;
  width: 18px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
}

.card__like-btn:hover {
  transform: scale(1.1);
}

.card__like-icon {
  padding-left: 10px;
}

.card__image {
  width: 100%;
  border-radius: 19px;
  background-color: #e9e9e9;
  border: 1px solid #0000004d;
  cursor: pointer;
}
