.modal__content_type_image {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__close_image {
  background-image: url(../../assets/whiteclosebtn.png);
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  align-items: center;
}

.modal__image {
  width: 498px;
  height: 498px;
  border-radius: 16px;
}

.modal__footer {
  padding: 20px 0 32px 32px;
}

.modal__span {
  display: flex;
  justify-content: space-between;
  font-family: Cabinet Grotesk;
  font-weight: 700;

  font-size: 20px;
  line-height: 24px;
}

.modal__caption {
  margin: 0 0 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;

  font-size: 20px;
  line-height: 24px;
}

.modal__delete {
  display: flex;
  width: 98px;
  height: 14px;
  color: #ff4d00;
  background: transparent;
  border: none;
  flex-direction: row;
  padding: 0;
  margin-right: 34px;
  cursor: pointer;
}

.modal__weather {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
