.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  width: 229px;
  height: 56px;
}

.sidebar__user-name {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-top: 15px;
}

.sidebar__edit-btn {
  display: flex;
  margin: 24px 0px 8px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s ease;
  width: 100%;
}

.sidebar__edit-btn:hover {
  background: #000;
  color: #fff;
}

.sidebar__logout-btn {
  display: flex;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s ease;
  width: 100%;
}

.sidebar__logout-btn:hover {
  background: #000;
  color: #fff;
}
