.clothes-section {
  display: flex;
  flex-wrap: wrap;
}

.clothes-section__row {
  display: flex;
  margin-left: 116px;
  margin-bottom: 16px;
  align-items: center;
  padding-top: 31px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.clothes-section__row_text {
  display: flex;
  margin: 0;
  padding-right: 20px;
  color: #000000;
}

.clothes-section__row_btn {
  border: none;
  padding: 0;
  color: #00000099;
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 21px;
  justify-content: flex-end;
}

.clothes-section__empty {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 18px;
  color: #00000099;
  margin: 20px 0;
  grid-column: 1 / -1;
}
